/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Login Page Styles */
#loginPage {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
}
#chatPage{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;

}
#loginPage {
  height: 200px;
}

#loginPage h2 {
  margin-bottom: 20px;
}

#usernameInput {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#loginPage button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#loginPage button:hover {
  background-color: #0056b3;
}

/* Chat Page Styles */
#chatPage {
  display: none;
  height: 80%;
}

#userList {
  width: 100%;
  background-color: #007BFF;
  color: white;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

#chatWindow {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 4px;
}

#inputContainer {
  display: flex;
  border-top: 1px solid #ddd;
}

#messageInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-right: 1px solid #ddd;
  outline: none;
}

#sendButton {
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
 
}

#sendButton:hover {
  background-color: #0056b3;
}
